@charset "UTF-8";


/* firstview */

#firstview {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/mv.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.wrap {
    width: 1080px;
    margin: 0 auto;
}

.main-text {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.sub-text {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

/* future */

#future {
    color: #fff;
    background-color: #222;
    padding: 80px 0;
}

.future-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* service */

.service-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 80px 0;
}

.service-item {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    width: 46%;
    margin-top: 20px;
}

.service-text-title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.service-btn {
    display: block;
    width: 300px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: #cd0224;
    color: #fff;
    margin: 40px auto 80px;
}

/* news */
.news-title {
    font-size: 30px;
    font-weight: bold;
    padding: 80px 0;
    color: #fff;
}

.news-btn {
    display: block;
    width: 200px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: #cd0224;
    color: #fff;
}

#news {
    background-color: #222;
}

.news-list-link {
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
}

/* blog */
.blog-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 80px 0;
}

.blog-list {
    width: 32%;
}

.blog-date {
    margin-top: 5px;
    margin-right: 20px;
    font-size: 14px;
}

.blog-link img {
    margin-bottom: 10px;
}

.blog-btn {
    display: block;
    width: 300px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: #cd0224;
    color: #fff;
    margin: 40px auto 80px;
}

/* company */

.company-title {
    display: inline-block;
    width: 100%;
    line-height: 10;
    text-align: center;
    background-color: #cd0224;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.company {
    width: 50%;
}

.recruit-title {
    display: inline-block;
    width: 100%;
    line-height: 10;
    text-align: center;
    background-color: #222;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.recruit {
    width: 50%;
}

#company_recruit {
    padding-bottom: 80px;
}

/* sp */
@media only screen and (max-width:768px) {
    .wrap {
        width: 85%;
    }

    .service-item {
        width: 100%;
        margin-right: 0;
    }

    .news-btn {
        width: 150px;
    }

    .news-title {
        padding:40px 0;
    }

    .news-list-title {
        font-size: 15px;
    }

    .news-date {
        padding: 5px;
    }

    .news-list-link {
        padding: 10px;
    }

    .blog-list {
        width: 100%;
        margin-bottom: 30px;
    }

    
}

